<div *ngIf="notification"
     class="container"
     [@toast]="state">

  <mat-icon class="icon"
            (click)="closeNotification(notification.id)">close</mat-icon>

  <!-- ICON -->
  <mat-icon class="icon"
            [ngClass]="notificationCategory">
    {{ notificationCategory === 'error' ? 'cancel' : notificationCategory }}
  </mat-icon>

  <!-- CONTENT -->
  <div class="content">
    <p class="header">{{ notification.header }}</p>
    <p class="body">{{ notification.body }}</p>
  </div>
</div>
