@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';


/* Container */
%overflow-hidden { overflow: hidden; }

.container {
  border-radius: 3px;
  padding: 15px 20px;
  box-shadow: 0 1px 8px 1px #a9a1a1;
  width: 200px;
  background-color: white;

  @extend %overflow-hidden;
  @include set-position(absolute, $right: 16px);

  & > .icon:first-child {
    font-size: 12px;
    color: $color-darkgray;
    cursor: pointer;

    @include set-position(absolute, $top: 20px, $right: 0);
  }
}


/* Content */
%inline-block { display: inline-block; }

.content {
  margin-left: 30px;
  @extend %inline-block;
}

.mat-icon {
  font-size: 23px;
  transform: translateY(-50%);

  @extend %inline-block;
  @include set-position(absolute, 50%);
}

.header {
  color: $color-dark;
  font-size: 11px;
}

.body {
  color: $color-gray;
  font-size: 9px;
  line-height: 1.5em;
  width: 145px;
  max-height: 3em;

  @extend %overflow-hidden;
}


/* Mat Icons */
@mixin set-mat-icon-color($color) {
  color: $color;
}

.mat-icon {
  &.info { @include set-mat-icon-color($color-info); }

  &.warning { @include set-mat-icon-color($color-warning); }

  &.error { @include set-mat-icon-color($color-error); }
}





