@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


/* Form */
.form {
  height: 400px;
  max-height: $max;
  border-radius: 10px;
  padding: 45px 50px;
  background-color: white;

  &-title {
    color: $color-dark;
    margin-bottom: 30px;

    .mat-icon { @include set-position(relative, 4px); }
  }

  @include media-query(402, border-radius, 0);
  @include media-query(375, height, unset);
}

.mat-form-field {
  width: $max;
  font-size: 14px;
}


/* Category */
.category {
  margin-top: 22px;
  margin-bottom: 30px;

  p { color: rgba(0,0,0,.54); }
}


/* Category Mat Grid */
.mat-grid-list {
  %text-16 { font-size: 16px; }

  .selected {
    display: none;
    font-size: 16px;

    @include set-position(absolute, $top: -6px, $right: -12px);
  }

  .mat-icon:last-child {
    font-size: 16px;

    @include set-position(relative, 4px);
  }
}

.mat-grid-tile {
  $transparent-gray: #efeff1;

  cursor: pointer;
  font-size: 12px;
  color: $color-gray;
  overflow: unset;
  border: 2px solid $transparent-gray;
  background-color: transparentize($transparent-gray, .5);

  &.active {
    font-weight: bold;
    .selected { display: block; }
  }
}


/* Category Tile Active Status */
@mixin activate-tile($color) {
  color: $color;
  border-color: $color;
}

.info.active { @include activate-tile($color-info); }

.warning.active { @include activate-tile($color-warning); }

.error.active { @include activate-tile($color-error); }


/* Button */
button.mat-primary {
  border-radius: 20px;
  margin-top: 17px;

  &:hover:not(&[disabled]) {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

