<div class="form">

  <!-- TITLE -->
  <div class="form-title">
    <mat-icon class="icon">notifications</mat-icon>
    <span class="mat-title">Notification</span>
  </div><!-- END .mat-title -->

  <form [formGroup]="form"
        (submit)="onSubmit(form.value)">

    <!-- HEADER -->
    <mat-form-field>
      <input placeholder="Header"
             matInput
             formControlName="header">
    </mat-form-field>

    <!-- CATEGORY -->
    <div class="category">
      <p class="mat-subheading-1">Category</p>

      <mat-grid-list [cols]="columnNo"
                     [rowHeight]="rowHeightRatio"
                     [gutterSize]="gutterSize">

        <!-- INFO -->
        <mat-grid-tile class="info"
                       [class.active]="category.value === notificationCategory.info"
                       (click)="category.setValue(notificationCategory.info)">
          <mat-icon class="icon selected">check_circle</mat-icon>
          <mat-icon class="icon">info</mat-icon> Info
        </mat-grid-tile>

        <!-- WARNING -->
        <mat-grid-tile class="warning"
                       [class.active]="category.value === notificationCategory.warning"
                       (click)="category.setValue(notificationCategory.warning)">
          <mat-icon class="icon selected">check_circle</mat-icon>
          <mat-icon class="icon active">warning</mat-icon> Warning
        </mat-grid-tile>

        <!-- ERROR -->
        <mat-grid-tile class="error"
                       [class.active]="category.value === notificationCategory.error"
                       (click)="category.setValue(notificationCategory.error)">
          <mat-icon class="icon selected">check_circle</mat-icon>
          <mat-icon class="icon active">cancel</mat-icon> Error
        </mat-grid-tile>
      </mat-grid-list>
    </div><!-- END .category -->

    <!-- BODY -->
    <mat-form-field>
      <textarea placeholder="Body"
                matInput
                formControlName="body"></textarea>
    </mat-form-field>

    <!-- SUBMIT -->
    <div class="text-center">
      <button type="submit"
              mat-stroked-button
              color="primary"
              [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div><!-- END .form -->

<!-- TOAST NOTIFICATION -->
<app-toast-notification></app-toast-notification>
