@import '../../assets/styles/variables';
@import '../../assets/styles/placeholders';
@import '../../assets/styles/mixins';

%margin-bottom-30 { margin-bottom: 30px; }


/* Form */
.form {
  background-color: white;
  height: 400px;
  max-height: $max;
  border-radius: 10px;
  padding: 45px 50px;

  &-title {
    color: #606060;
    @extend %margin-bottom-30;

    .mat-icon {
      position: relative;
      top: 4px;
    }
  }

  @include media-query(402, border-radius, 0);
  @include media-query(375, height, unset);
}

.mat-form-field {
  width: $max;
  @extend %text-14;
}


/* Category */
.category {
  margin-top: 22px;
  @extend %margin-bottom-30;

  p { color: rgba(0,0,0,.54); }
}


/* Category Mat Grid */
.mat-grid-list {
  %text-17 { font-size: 17px; }

  .selected {
    position: absolute;
    top: -6px;
    right: -12px;
    display: none;

    @extend %text-17;
  }

  .mat-icon:last-child {
    position: relative;
    top: 3px;

    @extend %text-17;
  }
}

%transparent-gray-border {
  $transparent-gray: #efeff1;

  border: 2px solid $transparent-gray;
  background-color: transparentize($transparent-gray, .5);
}

.mat-grid-tile {
  cursor: pointer;
  font-size: 13px;
  color: #929292;
  overflow: unset;

  &.active {
    font-weight: bold;
    .selected { display: block; }
  }

  @extend %transparent-gray-border;
}


/* Category Tile Active Status */
@mixin activate-tile($color) {
  color: $color;
  border-color: $color;
}

.info.active { @include activate-tile($color-info); }

.warning.active { @include activate-tile($color-warning); }

.error.active { @include activate-tile($color-error); }


/* Button */
button.mat-primary {
  border-radius: 20px;
  margin-top: 17px;

  &:hover {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
