<div fxLayout="column"
     fxFlexFill>

  <!-- TOOLBAR -->
  <div fxFlex="10">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>TOAST NOTIFICATION</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div><!-- END fxFlex -->


  <!-- CONTENT -->
  <div class="container"
       fxFlexAlign="center"
       fxLayoutAlign="start center">

    <div>

      <!-- HEADER -->
      <div class="header text-center">
        <p>
          <fa [name]="'cogs'"
              [size]="'5'"></fa>
        </p><br/>

        <h3 class="mat-headline"
            [ngStyle.lg]="{'font-size.px': 28}"
            [ngStyle.md]="{'font-size.px': 25}"
            [ngStyle.xs]="{'font-size.px': 20}">Setup Notification</h3>
        <p class="mat-subheading-2">Sample Toast Notification Demo using Angular 5 and Material</p>
      </div><!-- END .header -->

      <!-- NOTIFICATION FORM -->
      <app-notification-form></app-notification-form>

    </div>
  </div><!-- .container -->

</div><!-- END fxLayout -->
