@import '~@angular/material/theming';
@import '../assets/styles/variables';
@import '../assets/styles/placeholder';

$config: mat-typography-config();

* { color: white; }


/* Toolbar */
p { font-size: 14px; }

.mat-toolbar {
  width: 90%;
  margin: 0 auto;
  background-color: $color-primary;

  &-row {
    height: 45px;
    margin-top: 12px;
    border-bottom: 1px solid white;

    .mat-icon {
      font-size: 18px;
      margin-top: 5px;
    }

    span:first-child {
      font-size: 14px;
    }
  }

}

hr { border-color: white; }

.spacer { flex: 1 1 auto; }


/* Header */
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @extend %text-center;

  h3 { @extend %clear-margin-bottom; }

}
