@mixin media-query($size, $attribute, $value...) {
  @media screen and (max-width: #{$size}px) {
    #{$attribute}: $value;
  }
}

@mixin set-position($position, $top: auto, $left: auto, $right: auto, $bottom: auto) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
