/* Imports */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import 'variables';
@import 'font';
@import 'custom';


/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  font-family: mat-font-family($custom-typography);
}

.text-center { text-align: center; }

