/* Imports */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';
@import 'mixin';


/* Font */
$font-types: Light Regular Medium;

@each $type in $font-types {
  $montserrat: Montserrat;
  $font: #{$montserrat}-#{$type};


  @font-face {
    font-family: to_lower_case($font);
    src: url('../fonts/#{$font}.ttf');
  }
}

/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-primary;
  @include body-font(light);
}

