/* Imports */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import 'variables';


/* Font */
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

$custom-typography: mat-typography-config(
  $font-family: 'montserrat, sans-serif'
);

@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

$config: mat-typography-config();


/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-primary;
  font-family: mat-font-family($config);
}

